<header class="app-header">

    <div class="header-brand">
        <a href="dashboard.html" class="brand-link">
            <i class="bi bi-car-front-fill"></i>
            <span>Hitch Party</span>
        </a>
    </div>

    <div class="header-actions">

        <button
            class="btn btn-light d-lg-none"
            type="button"
            data-bs-toggle="offcanvas"
            data-bs-target="#mobileSidebar"
        >
            <i class="bi bi-list"></i>
        </button>

        <div class="dropdown">

            <button
                class="btn profile-button dropdown-toggle"
                data-bs-toggle="dropdown"
            >
                <div class="profile-avatar">
                    G
                </div>

                <span>
                    Gabriel
                </span>
            </button>

            <ul class="dropdown-menu dropdown-menu-end">

                <li>
                    <a class="dropdown-item" href="perfil.html">
                        Perfil
                    </a>
                </li>

                <li>
                    <a class="dropdown-item" href="configuracoes.html">
                        Configurações
                    </a>
                </li>

                <li>
                    <hr class="dropdown-divider">
                </li>

                <li>
                    <a class="dropdown-item text-danger" href="#">
                        Sair
                    </a>
                </li>

            </ul>

        </div>

    </div>

</header>